* {
  font-family: "Poppins", sans-serif;
}
nav {
  background-color: #62cdff;
}
.hero {
  background-color: #f1f1f1;
}
.about {
  padding: 5rem 0;
  background-color: #c9eeff;
}
.about img {
  margin-left: 100px;
  padding-bottom: 5rem;
}
.hero h4 {
  font-weight: 300;
  font-size: 1.3rem;
}

.certification {
  padding: 5rem 0;
}
.card-footer {
  background-color: #62cdff;
}

.card-footer ul li a,
.footer-icon,
.card-footer p {
  color: #ffffff;
}
